/*used two fonts overall*/
@font-face {
    font-family: 'overfont';
    src: url(coolvetica/coolvetica\ rg.otf);
}
@font-face {
    font-family: 'desc';
    src: url(garet/Garet-Book.ttf);
}
body {
    margin: 0;
    flex-direction: column;
    overflow: hidden;
}


/*code for the adjustments on the background video*/
#bgv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 100%;
}
/*overall container of the whole webpage*/
.container{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
#jyplogo{
    width: 100px;
    height: auto;
    align-items: left;
    margin-left: -1200px;
    margin-right: 500px;
    margin-top: -200px;
    margin-bottom: 30;
  
}
header {
    background-color:rgba(0,0,0, 0.7) ;
    padding: 1px;
    padding-top: 1px;
    padding-bottom: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-family: 'desc';
}

nav ul li a {
 text-decoration: none;
 color: white;
}

nav ul li a:hover{
    color: maroon;
}

main {
    display: flex;
}


h1 {
    margin-top: 14px;
    margin-bottom: 15px;
    font-family: 'overfont';
    font-size: 55px;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
}

img {
    width: 750px;
    height: 500px;
    margin-left: 220px; 
}

h2{
    font-family: 'overfont';
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    margin-bottom: -5px;
    margin-left: 215px;
    margin-right: 0;
}

#des{
    font-family: 'desc';
    font-size: 12px;
    font-weight: 500;
    color: white;
    margin-right: -900px;
    text-align: justify;
    margin-left: 200px;
    margin-top: 4px;
    margin-bottom: 1px;
    width: 70%;
    padding: 20px;

}
.containers{
    background-color: rgba(0,0,0, 0.7);
    padding: 100px;
    margin-right: 0px;
    width: 1900px;
    height: 480px;
    margin-top: 50px;
    margin-left: 0px;
    align-content: left;
}


h3{
    font-family: 'overfont';
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 0px;
    margin-left: -750px;
    margin-top: -50px;

}
#line-up{
    margin-top: 150px;
    margin-left:10px;
}
#trakles{
    font-family: 'desc';
    font-size: 20px;
    color: white;
    line-height:30px;
    margin-left: -700px;
    margin-top: 30px;

}
#trakles2{
    font-family: 'desc';
    font-size: 20px;
    color: white;
    line-height:30px;
    margin-left: -350px;
    margin-top: -200px;
    margin-bottom: 50px;

}
#info {
    font-family: 'overfont';
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 0px;
    margin-left: -750px;
    margin-top: 20px;
}
    #cami{
        font-family: 'desc';
        font-size: 15px;
        color: rgb(190, 190, 190);
        line-height:30px;
        margin-left: -750px;
        margin-top: 30px;
    }
b {
    color: white;
}
#np{
    font-family: 'desc';
    font-size: 15px;
    color: rgb(190, 190, 190);
    line-height:30px;
    margin-left: -750px;
    margin-top: 40px;
}
/* adjustments and animations for the learn more button!*/
button {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: left;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: 'desc';
    margin-top: 500px;
    margin-left: 490px;
   }
   
   button.learn-more {
    width: 11rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #000000;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
footer {
    margin-top: 10px;
    background-color: rgba(0,0,0, 0.7);
    color: #fff;
    padding: 25px;
    font-size: 13px;
    font-family: 'desc';
    text-align: center;
  }